* {
    margin: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}
body {
    height: 100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}
a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}
p {
    margin: 10px 0;
}
form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}
button {
    padding: 10px;
    width: 400px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}
.field {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #cccccc;
}
.excel {
    width: 50px;
    height: 50px;
    padding: 5px;
}
.snakeBody {
    background: url("тело змейки1.png");
    background-size: cover;
    border-radius: 50%;
}
.head {
    background: url("голова змейки.png");
    background-size: cover;
    border-radius: 10%;
}
.mouse {
    background: url("тело мыши.png");
    background-size: cover;
}
